@using net_il_mio_fotoalbum.Data;

@model FotoCategorieModel;

<div class="container">
    <form asp-controller="Profile" asp-action="Create" method="post">
        @Html.AntiForgeryToken()
        <div class="mb-3">
            <strong>Nome:</strong>
            <input asp-for="Foto.Descrizione" class="d-block w-100" />
        </div>
        <div class="mb-3">
            <strong>Cognome:</strong>
            <input asp-for="Foto.Descrizione" class="d-block w-100" />
        </div>
        <div class="mb-3">
            <strong>Età:</strong>
            <input asp-for="Foto.Visibile" class="d-block w-100" /> <!--da mettere veo falso -->
        </div>
        <div class="text-end">
            <input type="submit" class="btn btn-small btn-info" value="Salva">
        </div>
        <select asp-for="Categorias"
                multiple="multiple"
                size="10"
                class="form-control mb-2 mr-sm-2 ml-sm-3 leftList"
                asp-items="@Model.Categoria">
        </select>
    </form>
</div>